html(lang="ru")
  head
    meta(charset="utf-8")
    title= "Главная страница"
  body
    div.wrapp#main
      header
        ul.nav
          li.nav__item
            a.nav__link item_1
          li.nav__item
            a.nav__link item_2
          li.nav__item
            a.nav__link item_3
      div.content
        p "Какой-то текст"
        p Lorem
        p Lorem2
      footer